body{
	
}

.login-form input, .registration input{
	width:100%
}

table{
	width:100%;
	overflow: scroll;
}
.widthLastCol{
	width: 40px;
}
select{
    width: 100%;
    height: 33px;
}
.menu .item-image img{
	height: 150px;
}

.menu .item-info div{
	padding:5px;
}