body{
	
}

.login-form input, .registration input{
	width:100%
}

table{
	width:100%;
	overflow: scroll;
}
.widthLastCol{
	width: 40px;
}
select{
    width: 100%;
    height: 33px;
}
.menu .item-image img{
/* 	height: 150px; */
}

.menu .item-info div{
	padding:5px;
}
.menu .row.item{
	margin: 10px 0;
}
.orders .item{
	border: 1px solid black;
	margin: 5px;
}
.orders .item div, form{
	width: 100%;
}
.overScroll{
	overflow: scroll;
}

section#orders{
	margin: 40px;
}