<!doctype html>
<html lang="en">
<head>
<title>О нас</title>
<div th:replace="~{commons :: head}"></div>
</head>
<body>


	<div th:replace="~{commons :: nav}"></div>

	<section class="aboutInfo">
		<div class="container">
			<div class="row">
				<div class="col">
					<h1 class="text-center fz-20">Добро пожаловать в Наш ресторан</h1>
					<h3 class="text-center fz-15">Мы подготовили для вас несколько
						интересных фактов, чтобы вы не скучали</h3><br>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<div>В начале 1980-х годов сеть ресторанов быстрого питания
						A&W запустила масштабную рекламную кампанию своего гамбургера. В
						отличие от похожего сэндвича в 1/4 фунта из Макдоналдс, гамбургер
						A&W весил 1/3 фунта и стоил чуть дешевле, а покупатели говорили,
						что он вкуснее. Несмотря на всё это, кампания провалилась. Позже
						A&W провела исследование и выявила причину: многие клиенты не
						понимали истинного значения дробных чисел. Предложение казалось им
						невыгодным, так как 3 меньше 4.</div><br><br>
					<div>В индийском городе Ахмадабад есть ресторанчик «New
						Lucky», построенный на месте старого мусульманского кладбища.
						Правда, могилы никуда не делись — столы расставлены прямо между
						ними. Владелец кафе говорит, что клиентов это нисколько не
						смущает, и сам бизнес процветает. Официанты каждый день помимо
						обслуживания клиентов отдают дань уважения усопшим — протирают
						могилки и иногда кладут на них цветы.</div><br><br>
					<div>Салат «Цезарь» не имеет никакого отношения к Юлию
						Цезарю. Он назван в честь американского повара итальянского
						происхождения Цезаря Кардини, который изобрёл этот рецепт.
						Согласно легенде, Кардини приготовил салат из того, что оставалось
						на кухне его ресторана, когда во время празднования Дня
						независимости США из меню уже ничего не осталось, а посетители
						требовали пищи.</div><br><br>
					<div>В американском городке Вэлли Сити, что в штате Северная
						Дакота, открылась кофейня «The Vault», действующая по принципу
						самообслуживания и без всякого контроля. Посетителям предлагается
						выбрать напиток, выпечку, сосчитать сумму к оплате и расплатиться
						наличными или картой. Здесь же выставлены на продажу картины, тоже
						по принципу честности клиентов, и размещено множество полок с
						книгами для чтения за чашкой кофе.</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>