<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    </meta>
</head>

<body>
   
    <header id="header" class="header" th:fragment="nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header-text text-center">
                        <div class="text-first">Название</div>
                        <div class="text-second">RESTAURANT</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/">ГЛАВНАЯ</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav justify-content-between">
                                <li class="nav-item" th:if="${#request.userPrincipal != null && #request.isUserInRole('ROLE_USER')}">
                                    <a class="nav-link" href="/preorder">ПРЕДЗАКАЗ</a>
                                </li>
                                <li class="nav-item" th:if="${#request.userPrincipal != null && #request.isUserInRole('ROLE_ADMIN')}">
                                    <a class="nav-link" href="#">БРОНЬ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/menu">МЕНЮ</a>
                                </li>
                                <li class="nav-item" th:if="${#request.userPrincipal != null && #request.isUserInRole('ROLE_USER')}">
                                    <a class="nav-link" href="/sheme">СХЕМА ЗАЛА</a>
                                </li>
                                <li class="nav-item" th:if="${#request.userPrincipal != null && #request.isUserInRole('ROLE_USER')}">
                                    <a class="nav-link" href="/profile">ПРОФИЛЬ</a>
                                </li>
                                <li class="nav-item" th:if="${#request.userPrincipal != null && #request.isUserInRole('ROLE_ADMIN')}">
                                    <a class="nav-link" href="/admin/control">УПРАВЛЕНИЕ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">О НАС</a>
                                </li>
                                <li class="nav-item" th:if="${#request.userPrincipal != null}">
                                    <a class="nav-link" href="/logout">ВЫЙТИ</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</body>

</html>