<!doctype html>
<html lang="en">

<head>
    <title>Предзаказ</title>
    <div th:replace="~{commons :: head}"></div>
</head>

<body>
    
	<div th:replace="~{commons :: nav}"></div>


    
<section class="orders" id="orders">
    <div class="container">
        <div class="order-items">
        <h3 class="text-center">Страница предзаказа</h3>
        <h4 class="text-center">На странице будут отображены блюда заказов, еще не оформленных</h4>
            <div class="row item p-3" th:each="entityM:${entity.myOrders}" >
            <form th:action="'/profile/confirm/'+${entity.id}"></form>
                <div class="h3 order-title" th:text="'Заказ на дату:'+${entityM.dates}">Заказ на 25,25,2025</div>
                <div class="order-table" th:text="'Стол: '+${entityM.table}">Stol</div>
                <div class="order-peoples d-flex w-auto mr-5">
					<div class=" mr-5">Количество человек</div>                	
	                <input type="text" class="ml-1 order-peopleCount" th:value="${entityM.peopleCount}" name="peopleCount" required>
                </div>
                <input type="submit" required value="Подтвердить бронь" th:if="${#lists.size(entityM.foods)>0}">
                <div class="order-food">
                    <div class="order-food-item" th:each="food:${entityM.foods}">
                        <div class="col-md-7 item-info">
                            <div class="order-food-item-name" th:text="'Название: '+${entity.name}"></div>
                            <div class="order-food-item-type" th:text="'Тип блюда: '+${entity.typeFood.name}"></div>
                            <div class="order-food-item-prize" th:text="'Цена блюда: '+${entity.price}"></div>
                            <div class="order-food-item-buttons">
                                <a th:href="@{/user/deleteFood/{id}(id=${entity.id})}" class="btn btn-primary" th:if="${entity.status.id==1}">
                                    <i class="fas fa-trash">Удалить</i>
                                </a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



</body>

</html>